{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
</head>
<body class='body-auth'>
    <div class="container-auth">
        <div class="form-auth-box">
            <h3><span>S</span>.<span>G</span>.<span>P</span>.<span>A</span>.</h3>
            <h3>Sistema de Gerenciamento de Projetos e Acontecimentos</h3>
            <h2>{% block titleArea %}
            
            {% endblock titleArea %}</h2>   
            <div>
                {% block authArea %}
                
                {% endblock authArea %}
            </div>
        </div>
    </div>
</body>
</html>