$primary-color: #6dde34;
$primary-color-dark: #7ac232;
$secondary-color: #fae952;
$contrast-color: #ff3131;
$text-dark: #000000;
$text-light: #79828f;
$extra-light: #fcfdff;

$white: #ffffff;
$dark-color: #27303f;
$dark-secundary-color: #515252;
$light-color: #f3f4f6;

$max-width: 1200px;
$border-radius: 0.5rem;
$header-font: "DM Sans", sans-serif;
$body-font: "Poppins", sans-serif;