{% load static %}

<section class="section_container acontecimentos_container" id="acontecimentos">
      <div id="acontecimentos_content">
        <h3 class="section_subheader">Acontecimentos</h3>
        <h2 class="section_header">Fatos que marcaram a Fábrica de Software..</h2>
        
      </div>
      <div id="acontecimentos_timeline">
        {% for acontecimento in acontecimentos %}
          <div class="acontecimentos_card">
            {% if acontecimento.imagem %}
              <span class="software_img"><img src="{{acontecimento.imagem.url}}" alt="{{acontecimento.titulo}}" class="rounded-circle"></span>
            {% else %}
              <span class="software_img"><img src="{% static 'assets/imgs/cropped-em_breve.png'%}" alt=""></span>
            {% endif %}
            <div class="text_box">
                <small>{{acontecimento.data|date:'F Y'}}</small>
                <h4>{{acontecimento.titulo}}</h4>
                <p>
                  {{acontecimento.descricao}}
                </p>
            </div>
          </div>
        {% endfor %}
        
        
      </div>
      <div class="acontecimentos_card timeline_fim">
        <div class='text_box'>
          <h4>Venha Fazer Parte da Nossa História</h4>
        </div>
      </div>
</section>