<section class="section_container processos_container" id="processos">
      <div id="processos_content">
        <h3 class="section_subheader">PROCESSOS</h3>
        <p>
          A Fábrica de Software do IFSertãoPe Campus Petrolina busca conhecer as novas tecnologias para o desenvolvimento web e compartilhar com a comunidade acadêmica.
        </p>
      </div>
      <div id="processos_grid">
        <div class="processos_card">
          <span><i class="ri-swap-2-line"></i></span>
          <h4>Ciclo de Vida</h4>
          <p>
            O ciclo de vida utilizado pela Fábrica de Software utiliza a abordagem iterativo e incremental...
          </p>
           <a href="#" class="btn">Mais Detalhes</a>
        </div>
        <div class="processos_card">
          <span><i class="ri-file-list-3-line"></i></span>
          <h4>Processos</h4>
          <p>
            O processo de software utilizado pela FSSPE está baseado em algumas atividades de processos ágeis...
          </p>
           <a href="#" class="btn">Mais Detalhes</a>
        </div>
        <div class="processos_card">
          <span><i class="ri-file-image-line"></i></span>
          <h4>Templates</h4>
          <p>
            Templetes dos documentos utilizados no processo de desenvolvimento de nossos projetos...
          </p>
           <a href="#" class="btn">Mais Detalhes</a>
        </div>
        <div class="processos_card">
          <span><i class="ri-tools-line"></i></span>
          <h4>Ferramentas</h4>
          <p>
            Conheça as ferramentas utilizadas no processo de criação de nossos projetos...
          </p>
           <a href="#" class="btn">Mais Detalhes</a>
        </div>
      </div>
    </section>