{% extends "./base.html" %}

{% block HeroHeader %}
 <div id="header_content">
    <h2 >Soluções Inteligentes Para Você</h1>
    <h1>Bem-Vindo a Fábrica de Software do IFSertãoPE Campus Petrolina</h1>
    <div id="header_btns">
      <a href="#sobre" class="btn">
        Explorar mais<span class="d-block"><i class="ri-arrow-down-line"></i></span>
      </a>
    
    </div>
  </div>
{% endblock HeroHeader %}

{% block MainContent %}
{% include "./partials/_sobre.html"%}
{% include "./partials/_processos.html"%}
{% comment %} {% include "./partials/_softwares.html"%}
{% include "./partials/_acontecimentos.html"%}
{% include "./partials/_contato.html"%} {% endcomment %}
{% endblock MainContent %}

