@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.section_container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}
.section_container .section_header {
  font-family: "DM Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 4rem;
  color: #000000;
}
.section_container .section_subheader {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  padding-bottom: 0.75rem;
  width: fit-content;
  border-bottom: 4px solid #ff3131;
}
.section_container .imgs-content {
  width: 70%;
  margin: auto;
}
.section_container ul.list-content {
  color: #79828f;
}
.section_container ul.list-content li {
  margin-bottom: 0.8rem;
}

.dropdown-menu {
  padding: 1rem;
  background-color: #6dde34;
}
.dropdown-menu li a {
  padding: 0.5rem;
}
.dropdown-menu li a:hover {
  border-radius: 0.5rem;
  background-color: #fae952;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
  font-size: 1rem;
  white-space: nowrap;
  background-color: #6dde34;
  border-radius: 0.5rem;
  transition: transform 0.3s;
  cursor: pointer;
}
.btn span {
  font-size: 1.6rem;
  font-weight: 800;
  color: #fae952;
}
.btn:hover {
  background-color: rgb(85.0423728814, 191.8177966102, 31.1822033898);
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fcfdff;
}
.logo span {
  font-size: 1.2rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: grid;
  overflow: hidden;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 1000;
}
nav.sticky {
  position: fixed;
  background-color: #6dde34;
}

#nav_header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6dde34;
  border-bottom: 4px solid #ff3131;
}

#nav_menu_btn {
  font-size: 1.5rem;
  color: #fcfdff;
  cursor: pointer;
}

#nav_links {
  position: absolute;
  left: 0;
  top: 64px;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #6dde34;
  transition: transform 0.3s;
  transform: translateY(-100%);
  z-index: -1;
}
#nav_links.open {
  transform: translateY(0);
}
#nav_links div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
#nav_links a {
  color: #fcfdff;
  font-size: 1.2rem;
}
#nav_links .btn {
  color: #000000;
  background-color: #fae952;
}
#nav_links .btn-link {
  font-size: 1.2rem;
  border: none;
  outline: none;
  text-decoration: none;
  font-weight: normal;
  margin-left: 1rem;
  background-color: transparent;
  color: #fcfdff;
}

#header_content {
  padding-block: 7rem 2rem;
  padding-inline: 1rem;
  height: 85vh;
}
#header_content::before {
  position: absolute;
  content: "";
  width: 100%;
  grid-area: 1/1/2/2;
  inset: 0;
  background-color: #fcfdff;
  z-index: -1;
}
#header_content h2 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  line-height: 6rem;
  color: #000000;
  text-align: center;
}
#header_content h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #79828f;
}

#header_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#header_btns .btn:nth-child(2) {
  padding: 0.25rem 0.5rem 0.25rem 1.5rem;
  background-color: transparent;
  border: 1px solid #000000;
}
#header_btns .btn:nth-child(2) span {
  font-size: 2rem;
}

#header_image {
  background-color: #e5e5e9;
}

@media (min-width: 768px) {
  header {
    position: relative;
    isolation: isolate;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 1rem;
  }
  nav {
    isolation: isolate;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    gap: 2rem;
    z-index: 9;
  }
  nav.sticky {
    position: fixed;
    max-width: 100vw;
    padding-inline: 2rem;
    z-index: 10;
    isolation: isolate;
    background-color: #6dde34;
  }
  nav.sticky .logo {
    color: #ffffff;
  }
  nav.sticky .dropdown-menu {
    background-color: #6dde34;
  }
  nav.sticky #nav_links a:is(:not(.logo, .btn)), nav.sticky #nav_links .btn-link {
    color: #ffffff;
  }
  nav.sticky #nav_links a:is(:not(.logo, .btn)):hover, nav.sticky #nav_links .btn-link:hover {
    border-bottom: 2px solid #ff3131;
  }
  nav.sticky #nav_links .btn {
    border: 2px solid #fae952;
    background-color: transparent;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  nav.sticky #nav_links .btn:hover {
    background-color: #fae952;
    color: #000000;
    font-weight: 600;
  }
  #nav_header {
    padding-inline: 2rem;
    background-color: transparent;
    border: none;
  }
  #nav_menu_btn {
    display: none;
  }
  .logo {
    font-size: 2rem;
    color: #000000;
  }
  .logo span {
    font-size: 1.5rem;
  }
  #nav_links {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    transform: none;
    background-color: transparent;
    padding: 0 2rem;
  }
  #nav_links div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  #nav_links .btn {
    border: 2px solid #ff3131;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  #nav_links .btn:hover {
    background-color: #ff3131;
    font-weight: 600;
  }
  #nav_links a, #nav_links .btn-link {
    color: #79828f;
  }
  #nav_links a:hover, #nav_links .btn-link:hover {
    color: #6dde34;
  }
  #nav_links a.btn-cta, #nav_links .btn-link.btn-cta {
    color: #000000;
  }
  #header_content {
    padding-block: 8rem 5rem;
    margin-top: 9rem;
    margin-bottom: 8rem;
    align-items: center;
    height: 55vh;
  }
  #header_content::before {
    grid-area: 1/1/2/3;
  }
  #header_content h1 {
    max-width: 700px;
    margin: auto;
    margin-bottom: 4rem;
  }
  #header_content h2 {
    color: rgb(248.2808988764, 225.4359550562, 22.5191011236);
  }
}
.sobre_container,
.softwares_container,
.acontecimentos_container,
.processos_container {
  display: grid;
  gap: 2rem;
}

#sobre_content p,
#softwares_content p,
#acontecimentos_content p,
#processos_content p {
  padding-block: 2rem 2rem;
  color: #79828f;
  text-align: justify;
}

#sobre_grid,
#softwares_grid,
#processos_grid {
  display: grid;
  gap: 1rem;
}

.sobre_card,
.processos_card {
  padding: 1rem;
  border: 2px solid #fcfdff;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
.sobre_card:hover,
.processos_card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.sobre_card span,
.processos_card span {
  display: inline-block;
  font-size: 2rem;
  color: #000000;
  transition: 0.3s;
}
.sobre_card:hover span,
.processos_card:hover span {
  color: #fae952;
}
.sobre_card h4,
.processos_card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
}
.sobre_card p,
.processos_card p {
  color: #79828f;
}

.softwares_card {
  height: 250px;
  border: 2px solid #fcfdff;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
.softwares_card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.softwares_card span, .softwares_card img {
  display: inline-block;
  width: 100%;
  height: 125px;
  object-fit: contain;
  color: #6dde34;
  transition: 0.3s;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.039);
}
.softwares_card:hover p {
  color: #ff3131;
}
.softwares_card h4 {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
}
.softwares_card p {
  color: #79828f;
  text-align: center;
}

#acontecimentos_timeline {
  position: relative;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  z-index: -1;
}
#acontecimentos_timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100vh;
  background-color: #79828f;
  top: 0;
  left: 37px;
  margin-left: -3px;
  z-index: 0;
}
#acontecimentos_timeline .acontecimentos_card {
  padding-left: 4.6rem;
  position: relative;
  width: 100%;
}
#acontecimentos_timeline .acontecimentos_card .text_box {
  position: relative;
  padding: 0.8rem 1rem;
  margin-bottom: 1.2rem;
  border: 2px solid #fcfdff;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
#acontecimentos_timeline .acontecimentos_card .text_box:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
#acontecimentos_timeline .acontecimentos_card .text_box small {
  display: inline-block;
  font-size: 0.9rem;
}
#acontecimentos_timeline .acontecimentos_card span {
  position: absolute;
  width: 75px;
  height: 75px;
  padding: 0.3rem;
  object-fit: contain;
  background-color: #fff;
  border-radius: 50%;
  left: -17px;
  top: 2px;
  z-index: 2;
  border: 3px solid #79828f;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}
#acontecimentos_timeline .acontecimentos_card span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#acontecimentos_timeline .acontecimentos_card:nth-child(even) .text_box {
  border: 2px solid #6dde34;
}
#acontecimentos_timeline .acontecimentos_card:nth-child(even) .text_box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(75.3177966102, 169.8834745763, 27.6165254237) transparent transparent;
  top: 28px;
  left: -10px;
}
#acontecimentos_timeline .acontecimentos_card:nth-child(odd) .text_box {
  border: 2px solid #ff3131;
}
#acontecimentos_timeline .acontecimentos_card:nth-child(odd) .text_box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(227.5, 0, 0) transparent transparent;
  top: 28px;
  left: -10px;
}

footer {
  background-color: #000000;
}

.footer_container {
  display: grid;
  gap: 4rem 2rem;
}

#footer_logo {
  margin-bottom: 2rem;
}
#footer_logo .logo {
  color: #ffffff;
}

.footer_col h4 {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
}
.footer_col p {
  color: #79828f;
}

.footer_links {
  display: grid;
  gap: 1rem;
}
.footer_links :is(li, a, .btn-link) {
  color: #79828f;
  background-color: transparent;
  border: none;
  outline: none;
}
.footer_links a:hover {
  color: #ffffff;
}
.footer_links a span {
  font-size: 1.2rem;
  margin-right: 10px;
}

.footer_col h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
}
.footer_col form {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 5px;
}
.footer_col input {
  padding-inline: 1rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
  border: none;
  color: #ffffff;
  background-color: transparent;
}
.footer_col .btn {
  background-color: #fcfdff;
  border-radius: 2px;
}

.footer_bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: #79828f;
  text-align: center;
  border-top: 1px solid #79828f;
}

@media (min-width: 500px) {
  #sobre_grid,
  #softwares_grid,
  #processos_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .processos_card {
    padding: 1.5rem;
  }
  .processos_card a.btn {
    margin-top: 1rem;
  }
  .processos_card p {
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (min-width: 540px) {
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }
  #softwares_grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #acontecimentos_timeline::after {
    left: 50%;
  }
  #acontecimentos_timeline .acontecimentos_card {
    width: 50%;
  }
  #acontecimentos_timeline .acontecimentos_card:nth-child(even) {
    left: 50%;
  }
  #acontecimentos_timeline .acontecimentos_card:nth-child(even) .text_box::after {
    right: 10px;
  }
  #acontecimentos_timeline .acontecimentos_card:nth-child(even) span {
    left: -37px;
  }
  #acontecimentos_timeline .acontecimentos_card:nth-child(odd) {
    padding-left: 0;
    padding-right: 4.5rem;
  }
  #acontecimentos_timeline .acontecimentos_card:nth-child(odd) .text_box::after {
    right: -10px;
    left: inherit;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(227.5, 0, 0);
  }
  #acontecimentos_timeline .acontecimentos_card:nth-child(odd) span {
    right: -37px;
    left: inherit;
  }
}
@media (min-width: 1024px) {
  .sobre_card,
  .processos_card {
    padding: 1.5rem;
  }
  #sobre_grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #softwares_grid {
    grid-template-columns: repeat(4, 1fr);
  }
  #processos_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=index.css.map */
