{% extends "pagina_inicial/base.html" %}
{% load static %}

{% block HeroHeader %}
 <div id="header_content">
    <h2 >Ciclo de Vida</h1>
    <h1>Conheça o ciclo de vida da Fábrica de Software do IFSertãoPE</h1>
    <div id="header_btns">
      <a href="#processos-ciclo-de-vida" class="btn">
        Explorar mais<span class="d-block"><i class="ri-arrow-down-line"></i></span>
      </a>
    
    </div>
  </div>
{% endblock HeroHeader %}

{% block MainContent %}
<section class="section_container processos_container" id="processos-ciclo-de-vida">
      <div id="processos_content">
        <h3 class="section_subheader">Ciclo de Vida</h3>
        
        <div class="imgs-content">
            <img src="{% static 'assets/imgs/diagrama_scrum.png' %}" alt="">
            <p class="text-center">Disponivel em: <span>https://www.semeru.com.br/blog/o-ciclo-de-vida-do-framework-scrum/</span></p>
        </div>
    
        <p>O ciclo de vida utilizado pela Fábrica de Software utiliza a abordagem iterativo e incremental. Serão baseados no SCRUM para gestão de projetos, alinhado com boas práticas de metodologias de desenvolvimento como XP( do inglês eXtreming Programming). A realização de cada projeto é destrinchado em partes que serão construídas de forma iterativa e incremental gerando uma nova release a cada Sprint. A cada sprint um novo subconjunto de funcionalidades é adicionado às funcionalidades já geradas nas sprints anteriores. No Daily Scrum meeting, devido a distribuição da equipe, as reuniões serão de até 15 minutos e acontecem presencialmente.</p>
        
        <p>A introdução da metodologia XP para a realização de cada projeto aliada ao SCRUM visa promover a agilidade dos processos, uma melhor comunicação entre cliente e equipe de desenvolvimento e a simplicidade de suas atividades. A Fábrica de Software utilizará algumas boas práticas do XP, dentre elas:</p>

        <ul class="list-content">
            <li>
                <strong>Refatoração (Refactoring):</strong> É um processo que permite a melhoria continua da programação, com o mínimo de introdução de erros e mantendo a compatibilidade com o código já existente. Refabricar melhora a clareza (leitura) do código, divide-o em módulos mais coesos e de maior reaproveitamento, evitando a duplicação de código-fonte;
                Design Simples: utilização de design simples com ferramentas livres que permitem demostrar de forma rápida o protótipo ao cliente em adaptação a técnica de prototipação em papel.
            </li>
            <li><strong>Pequenas Versões (Small Releases):</strong> pequenas versões serão liberadas em curto prazo. Conforme as interações são concluídas, o cliente recebe pequenas versões/releases do sistema, visando com que seja colocado em prática e validado aquilo que está sendo implementado. Isto também permite que mais cedo possam ser detectadas necessidades de alterações de requisitos no software.</li>
            <li><strong>Propriedade Coletiva (Collective Code Ownership ):</strong> o código é coletivo, todo mundo pode modificar, melhorar e adaptar o código sem modificar as funcionalidades.</li>
            <li><strong>Jogo de Planejamento (Planning Game):</strong> O desenvolvimento é feito em iterações semanais. No início da semana, desenvolvedores e cliente reúnem-se para priorizar as funcionalidades. Essa reunião recebe o nome de Jogo do Planejamento. Nela, o cliente identifica prioridades e os desenvolvedores as estimam. O cliente é essencial neste processo e assim ele fica sabendo o que está acontecendo e o que vai acontecer no projeto. Como o escopo é reavaliado semanalmente, o projeto é regido por um contrato de escopo negociável, que difere significativamente das formas tradicionais de contratação de projetos de software. Ao final de cada semana, o cliente recebe novas funcionalidades, completamente testadas e prontas para serem postas em produção.</li>
        </ul>

        <div class="imgs-content">
            <img src="{% static 'assets/imgs/XP.jpg' %}" alt="" class="img-fluid">
            <p class="text-center">Disponivel em: <span>https://www.semeru.com.br/blog/o-ciclo-de-vida-do-framework-scrum/</span></p>
        </div>
    
      </div>
      
      
</section>
{% endblock MainContent %}