{% extends "pagina_inicial/base.html" %}
{% load static %}

{% block HeroHeader %}
 <div id="header_content">
    <h2 >Templates</h1>
    <h1>Conheça os templates da Fábrica de Software do IFSertãoPE</h1>
    <div id="header_btns">
      <a href="#processos-templates" class="btn">
        Explorar mais<span class="d-block"><i class="ri-arrow-down-line"></i></span>
      </a>
    
    </div>
  </div>
{% endblock HeroHeader %}

{% block MainContent %}
<section class="section_container processos_container" id="processos-templates">
      <div id="processos_content">
        <h3 class="section_subheader">Templates</h3>
        
    
        <p>A Fábrica de Software do IFSertão Campus Petrolina busca conhecer as novas tecnologias para o desenvolvimento web e compartilhar com a comunidade acadêmica.</p>
    
      </div>
      
      
</section>
{% endblock MainContent %}