{% extends './base_app.html' %}

{% block AppContent %}

<h2>Meu Perfil</h2>

<div class="form-body">
<form method="post">
    {% csrf_token %}
    {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label d-flex justify-content-between">{{ field.label }}
                {% if field.label == "Usuário" %}
                    <p class=""><strong>Grupo:</strong> 
                        {% for group in user.groups.all %}
                            {{ group.name }}
                        {% empty %}
                            Sem grupo
                        {% endfor %}
                    </p>
                {% endif %}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist mt-3">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                
            </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary"><i class="ri-save-line"></i> Salvar Alterações</button>
     <a href="{% url 'usuarios:deletar-conta' %}" class="btn btn-danger danger-secondary">Excluir minha conta</a>
</form>
</div>


<div class="form-footer">

    {% if request.user.groups.all.0.name == "Admin" %}
        <a href="{% url 'usuarios:lista-usuarios' %}">
            <button class="btn btn-secondary">Gerenciar Usuários</button>
        </a>
</div>
{% endif %}
{% endblock %}
