:root {
  --font-header: "Bebas Neue", serif;
  --error-color: #d8000c;
  --error-bg: #ffdddd;
  --border-light: #ccc;
  --text-light: #666;
}

.btn {
  border-radius: 0.5rem;
}
.btn.btn-success {
  background-color: #469f46 !important;
}
.btn.btn-danger {
  background-color: #dd5f5f;
}
.btn.btn-danger.danger-secondary {
  border: 1px solid #dd5f5f !important;
  background-color: transparent !important;
  color: #dd5f5f;
  font-weight: 600;
}
.btn.btn-primary {
  background-color: #6dde34 !important;
  border-color: rgb(65.593220339, 147.9491525424, 24.0508474576);
  font-weight: 600;
}
.btn.btn-primary i {
  font-size: 1.3rem;
}

.form-header {
  background-color: #6dde34;
  color: #ffffff;
  border-bottom: 1px solid #515252;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-header .form-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.form-body {
  color: #27303f;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  display: grid;
  flex-wrap: wrap;
}
.form-body input, .form-body textarea, .form-body select {
  background-color: transparent;
  border: 1px solid #515252;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  color: #27303f;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.form-body input:focus, .form-body textarea:focus, .form-body select:focus {
  outline: none;
  border-color: #6dde34;
  box-shadow: 0 0 0 2px rgba(109, 222, 52, 0.25);
}
.form-body input:hover, .form-body textarea:hover, .form-body select:hover {
  border-color: rgb(55.6564417178, 56.3435582822, 56.3435582822);
}
.form-body input:disabled, .form-body textarea:disabled, .form-body select:disabled {
  background-color: #e0e0e0;
  border-color: #d0d0d0;
  cursor: not-allowed;
}
.form-body input::placeholder, .form-body textarea::placeholder, .form-body select::placeholder {
  color: #515252;
  opacity: 0.6;
}
.form-body textarea {
  height: 190px;
}
.form-body p {
  text-align: left;
  margin-bottom: 12px;
}
.form-body label {
  font-weight: 600;
  text-align: left;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.form-body form .helptext {
  font-size: 12px;
  color: var(--text-light);
  display: block;
  margin-top: 5px;
}
.form-body form ul {
  padding-left: 18px;
  margin: 5px 0 0;
  list-style: square;
  text-align: left;
}
.form-body form ul li {
  font-size: 14px;
  color: var(--text-light);
}
.form-body form button {
  width: 100%;
  padding: 12px;
  margin-top: 1.5rem;
  background: #6dde34;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 600;
}
.form-body form button:hover {
  background: rgb(85.0423728814, 191.8177966102, 31.1822033898);
}
.form-body form ul.errorlist {
  background: var(--error-bg);
  color: var(--error-color);
  border: 1px solid var(--error-color);
  padding: 10px;
  border-radius: 6px;
  text-align: left;
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px;
}

.form-footer {
  border-top: 1px solid #515252;
  padding: 1rem;
}
.form-footer .btn {
  background-color: #6dde34;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.form-footer .btn:hover {
  background-color: rgb(85.0423728814, 191.8177966102, 31.1822033898);
}
.form-footer .btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(109, 222, 52, 0.25);
}
.form-footer .btn-secondary {
  background-color: transparent;
  color: #27303f;
  border: 1px solid #515252;
  margin-right: 1rem;
}
.form-footer .btn-secondary:hover {
  background-color: #515252;
  color: #f3f4f6;
}
.form-footer .btn-danger.danger-secondary {
  border-radius: 0;
  padding-bottom: 0.5px;
  border: none !important;
  border-bottom: 1px solid #dd5f5f !important;
}

table tr {
  height: 58px;
}
table tr td span {
  max-width: max-content;
}
table tr td span.more-action:last-child {
  display: inline-block;
  margin-left: 2.5rem;
}
table tr td.trow {
  padding-left: 3rem;
  font-size: 1.05rem;
  font-weight: 600;
  color: #27303f;
  position: relative;
}
table tr td.trow p {
  font-size: 0.8rem;
  font-weight: normal;
  color: #515252;
}
table tr.no-divider {
  border-color: transparent;
}
table tbody tr td .actions {
  opacity: 0;
  visibility: hidden;
}
table tbody tr:hover td .actions {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin-top: 10px;
}
.dropdown-menu.show {
  padding: 0;
}
.dropdown-menu .dropdown-item {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  text-transform: capitalize;
  transition: background-color 0.2s ease;
}
.dropdown-menu .dropdown-item i {
  background-color: #d0d0d0;
  padding: 0.25rem;
  border-radius: 8px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

form .helptext, .form-body .helptext {
  font-size: 12px;
  color: #666;
  display: block;
  margin-top: 5px;
}

ul.errorlist {
  background: var(--error-bg);
  color: var(--error-color);
  border: 1px solid var(--error-color);
  padding: 10px;
  border-radius: 6px;
  text-align: left;
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main.main-content {
  padding-right: 8rem;
}

.sidebar {
  width: 70px;
  height: 100%;
  background-color: #f3f4f6;
  color: #27303f;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
.sidebar.open {
  width: 250px;
}
.sidebar.closed {
  width: 70px;
}
.sidebar.closed .sidebar-header .brand {
  display: none;
}
.sidebar.closed .menu .menu-item .text,
.sidebar.closed .dropdown .btn .text {
  display: none;
}
.sidebar.closed .dropdown .btn {
  margin-left: calc(1rem - 4px);
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.sidebar.closed .dropdown .btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sidebar.closed + .main-content {
  margin-left: 120px;
}
.sidebar .sidebar-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #515252;
}
.sidebar .sidebar-header .brand {
  margin: 0;
  margin-left: 1rem;
  font-size: 1.2rem;
  display: block;
}
.sidebar .sidebar-header .toggle-sidebar {
  background: none;
  border: none;
  color: #515252;
  font-size: 1.6rem;
  cursor: pointer;
}
.sidebar .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar .menu .menu-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.3rem;
  color: #515252;
  text-decoration: none;
  transition: background 0.3s ease;
}
.sidebar .menu .menu-item .icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.sidebar .menu .menu-item .text {
  font-size: 1rem;
  text-align: left;
}
.sidebar .menu .menu-item.active {
  padding-left: calc(1rem + 1px);
  border-left: 4px solid #6dde34;
}
.sidebar .menu .menu-item:hover {
  background-color: rgb(199.2857142857, 203.9285714286, 213.2142857143);
}
.sidebar .dropdown .btn {
  width: 200px;
  height: 50px;
  margin: 1.2rem 0 1.35rem 1rem;
  font-size: 1.35rem;
  background-color: #6dde34;
  color: #f3f4f6;
  transition: 0.35s ease-out;
}
.sidebar + .main-content {
  margin-left: 300px;
  transition: margin-left 0.3s ease;
  width: 100%;
}

select {
  appearance: none;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}
select:focus {
  border-color: #6dde34;
  outline: none;
}
select:hover {
  border-color: rgb(85.0423728814, 191.8177966102, 31.1822033898);
  background-color: #f9f9f9;
}

.project-detail-container {
  padding: 2rem;
}
.project-detail-container .projeto-imagem {
  width: 100%;
  margin-bottom: 2rem;
}
.project-detail-container .projeto-imagem span img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.project-status {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  text-transform: capitalize;
}

.status_finalizado {
  background-color: #28a745;
  color: white;
}

.status_em_andamento {
  background-color: #ffc107;
  color: black;
}

.status_nao_finalizado {
  background-color: #dc3545;
  color: white;
}

.status_implantado {
  background-color: #17a2b8;
  color: white;
}

.project-info {
  margin-bottom: 2rem;
}

.project-row {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: #555;
}

.project-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

/* Estilos para cada tipo de status */
.status-finalizado {
  background-color: #28a745; /* Verde */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-em-andamento {
  background-color: #ffc107; /* Amarelo */
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-nao-finalizado {
  background-color: #dc3545; /* Vermelho */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-implementado {
  background-color: #17a2b8; /* Azul */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .project-detail-container {
    padding: 1rem;
  }
  .project-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .project-status {
    margin-top: 0.5rem;
  }
  .project-actions {
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 100vw;
  }
  .sidebar.open {
    width: 100%;
    max-width: 300px;
  }
  .sidebar.closed + .main-content {
    margin-left: 70px;
  }
}

/*# sourceMappingURL=main.css.map */
